@import "http://fonts.googleapis.com/css?family=Raleway";

form {
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	font-family: raleway;
	
}

#logoutForm {
  all: initial;
  * {
    all: unset;
  }
}

.checkbox-teal [type="checkbox"]:checked+label:before {
    border-color: transparent #009688 #009688 transparent;
}

.modal {
  overflow-y:scroll;
}

.alert-sukses {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.peringatan {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-gagal {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}


.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: red;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}