<?xml version="1.0" encoding="UTF-8"?>
	<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/master/item/**" access="hasAnyRole('ROLE_ADMIN, ROLE_CASHIER, ROLE_SUPER, ROLE_BACK_OFFICE')"/>
		<intercept-url pattern="/master/**" access="hasAnyRole('ROLE_ADMIN, ROLE_BACK_OFFICE, ROLE_SUPER')"/>
		<intercept-url pattern="/transaction/sales-order/**" access="hasAnyRole('ROLE_CASHIER, ROLE_SUPER, ROLE_BACK_OFFICE')"/>
		<intercept-url pattern="/transaksi/**" access="hasAnyRole('ROLE_BACK_OFFICE, ROLE_SUPER')"/>
		<intercept-url pattern="/generate/**" access="hasAnyRole('ROLE_ADMIN, ROLE_BACK_OFFICE, ROLE_CASHIER, ROLE_SUPER')"/>
		<intercept-url pattern="/transaction/**" access="hasAnyRole('ROLE_BACK_OFFICE, ROLE_SUPER')"/>
		<form-login
			login-processing-url="/j_spring_security_check"
			login-page="/login"
			default-target-url="/welcome"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"
			/>
		<access-denied-handler error-page="/login/access-denied" />
		<logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" />
		<csrf disabled="true" />
	</http>
	
	<beans:bean id="myAuthenticationSuccessHandler"
        class="com.xsis.batch137.controller.MySimpleUrlAuthenticationSuccessHandler" />
	<!-- comment -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select username, password, active from USER_137 where username=? and active=1"
				authorities-by-username-query=
					"select 
					  u.username, 
					  r.name FROM USER_137 u
					inner join ROLE r
					on u.role_id = r.id where u.username=?" />
		</authentication-provider>
		<!-- <authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select e.email, u.password, u.active from EMPLOYEE e, USER_137 u where e.email=? and u.active=1 and u.id = e.id"
				authorities-by-username-query=
					"select 
					  e.email, 
					  r.name,
					  u.username FROM EMPLOYEE e, USER_137 u, ROLE r 
					  where e.email=? and u.employee_id = e.id" />
		</authentication-provider> -->
		<authentication-provider>
			<user-service>
				<user name="superadmin" password="12345" authorities="ROLE_SUPER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>